@import dot.cpp.login.models.user.request.ResetPasswordRequest
@import dot.cpp.login.views.html.main
@import dot.cpp.repository.constants.Patterns
@import play.mvc.Http.Request
@(
        form: play.data.Form[ResetPasswordRequest],
        uuid: String
)(implicit request: Request, messages: play.i18n.Messages)

@main("Set admin password") {
    <div class="login">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
            <div class="box">

                <h1 class="title">Account Setup</h1>
                <p class="subtitle">Please enter your new password.</p>

                @* Flash shows updates to a page *@
                @request.flash.asScala().data.map { case (name, value) =>
                <div class="alert @name">@value</div>
                }

                @helper.form(action = dot.cpp.login.controllers.routes.UserController.resetPassword(uuid)) {
                    <label>Choose Password</label>
                    @helper.inputPassword(
                        field = form("password"),
                        Symbol("id") -> "password",
                        Symbol("required") -> "required",
                        Symbol("pattern") -> Patterns.ALPHA_PASS_MIN8
                    )
                    <label>Confirm Password</label>
                    @helper.inputPassword(
                        field = form("confirmPassword"),
                        Symbol("id") -> "confirmPassword",
                        Symbol("required") -> "required",
                        Symbol("pattern") -> Patterns.ALPHA_PASS_MIN8
                    )
                    <div class="alert-box">
                        <div id='message' class="nomatch alert alert-danger" hidden>
                            <i class="fas fa-exclamation-triangle"></i>
                            <span>Passwords do not match!</span>
                        </div>
                        <div class="alert alert-warning password-req">
                            Use 8 or more characters with a mix of lower and upper case letters, numbers & symbols
                        </div>
                    </div>
                    <button class="cta" type="submit" id="submitButton">Set password</button>
                }
            </div>
        </div>
    </div>
}

<script src="@routes.Assets.versioned("javascript/set-password-validation.js")" type="text/javascript"></script>
